@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::selection {
  background-color: rgb(34, 197, 94);
  color: white;
}

html {
  min-height: 100vh;
  background: #faf9f6;
}

body {
  color: #000000;
}

@layer base {
  body {
    @apply m-4;
  }

  h1 {
    @apply text-2xl my-8;
  }
}
